PYTHON_VERSION=$(cat .python-version 2>/dev/null)

# Check if PYTHON_VERSION is not empty
if [[ -n $PYTHON_VERSION ]]
then 
    # Set the Python version using pyenv
    layout pyenv $PYTHON_VERSION
else
    # If .python-version file doesn't exist or it's empty, use default Python version
    # layout pyenv 3.10.8
    echo .python-version file not found
fi